<br />
<div class="text-center"><h1>Heroes</h1></div>
<hr />

<div class="row">
  <div class="col-sm-10 text-right">
    <button
      [routerLink]="['/heroe', 'nuevo']"
      class="btn btn-outline-primary"
      type="button"
      name="button"
    >
      Nuevo héroe
    </button>
  </div>
</div>
<br />

<div class="row animated fadeIn fast">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of (heroes | keys); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ heroes[k].nombre }}</td>
            <td>{{ heroes[k].casa }}</td>
            <td>
              <div class="btn-group">
                <button
                  [routerLink]="['/heroe', k]"
                  type="button"
                  class="btn btn-outline-success"
                >
                  Editar
                </button>
                <button
                  (click)="borrarHeroe(k)"
                  type="button"
                  class="btn btn-outline-danger"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
