<br />

<div class="container">
  <div class="col-md-12">
    <h2>
      Héroe <small>{{ heroe.nombre }}</small>
    </h2>
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    <div class="btn-group">
      <button [routerLink]="['heroes']" class="btn btn-outline-danger">
        Regresar
      </button>

      <button
        (click)="agregarNuevo(forma)"
        type="button"
        class="btn btn-outline-success"
      >
        Nuevo Héroe
      </button>
    </div>
  </div>
</div>

<hr />

<div class="container animated fadeIn fast">
  <div class="col-md-12">
    <form (ngSubmit)="guardar()" #forma="ngForm">
      <div class="form-group">
        <label>Nombre</label>
        <input
          [(ngModel)]="heroe.nombre"
          type="text"
          name="nombre"
          id=""
          class="form-control"
          placeholder="Nombre del héroe"
          required
        />
      </div>

      <div class="form-group">
        <label>Casa</label>
        <select [(ngModel)]="heroe.casa" class="form-control" name="casa">
          <option value="Marvel">Marvel</option>
          <option value="DC">DC</option>
        </select>
      </div>

      <div class="form-group">
        <label>Bio</label>
        <textarea
          [(ngModel)]="heroe.bio"
          type="text"
          name="bio"
          class="form-control"
          placeholder="Bio"
        ></textarea>
      </div>

      <div class="form-group">
        <button
          [disabled]="!forma.valid"
          type="submit"
          class="btn btn-outline-primary"
        >
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>
